

.container-tabla {
    position: absolute;
    width: 35rem;
    height: 100%;
    background-color: #fffefe;
    top: 0;
    color: black;
    z-index: 100;
}

.barra-acciones {
  height: 30px;
  width: calc(100vw - 35rem);
  background-color: #fffefe;
  position: absolute;
  top: 0;
  right: 0;
  border-left:1px solid #646363;
  padding-left: 1rem;
}

h4 {
    font-family: ui-serif !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.togle-btn-1 {
    position: absolute !important;
    margin-left: 0;
    top: 0;
    margin-top: 30px;
}
.togle-btn-2 {
    position: absolute !important;
    margin-left: 35rem;
    top: 0;
    margin-top: 30px;
}
.b-containers {
    border-bottom: 1px solid white !important;
    border-top: 1px solid white !important;
    padding: 0 0.5rem;
}

.btn-custom-togle {
    background-color: aliceblue !important;
    border-color: #5d5a5a !important;
    color: rgb(48, 48, 48) !important;
    /* border-radius: 0 !important; */
}

.header-nav {
    padding-left: 1rem;
    padding-right: 1rem;
}
.color-h4 {
    background-color: rgb(25, 25, 77);
    border-radius: 5px;
    font-size: 15px !important;
    align-items: center !important;
    color: aliceblue !important;
}

.h-tablas-container {
    height: calc(100vh - 80px);
    width: 100%;
}

.head-sticky{
    position: sticky;
    top: -0.1px;
    z-index: 1;
}

/* ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5152aa;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1336aa;
  } */
  ::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento vertical */
    height: 10px;
  }

  /* Barra de desplazamiento horizontal */
  ::-webkit-scrollbar-horizontal {
    height: 10px; /* Altura de la barra de desplazamiento horizontal */
  }

  ::-webkit-scrollbar-track {
    background: #888; /* Color del fondo de la pista */
  }

  /* Parte activa de la barra de desplazamiento (thumb) */
  ::-webkit-scrollbar-thumb {
    background: #5152aa; /* Color del "dedo" (thumb) */
  }

  /* Cuando el thumb está sobrevolado */
  ::-webkit-scrollbar-thumb:hover {
    background: #1336aa;
  }

  /* Personalización de la barra horizontal */
  ::-webkit-scrollbar-horizontal-thumb {
    background: #5152aa;
  }
  .h-13 {
    height: 13px !important;
  }
  .btn-cst {
   cursor: pointer;
   pointer-events: all;
  }

  .highlight-row {
    background-color: #9bc622!important;
  }

  .highlight2 {
    background-color: #e7aa26 !important;
  }

  .btn-mini2 {
    padding-top: 0.25rem !important; 
    padding-bottom: 0.25rem !important; 
    padding-left: 0.5rem !important; 
    padding-right: 0.5rem !important; 
    font-size: 0.55rem !important;
    color: rgb(7, 7, 7) !important;
  }

  .btn.active {
    background-color: #6c757d; /* Cambiar el color de fondo cuando está activo */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra de presión */
  }


  .tabs {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .tab-titles {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: smaller;
  }
  
  .tab-title {
    padding: 3px 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    color: #595c59;
    border: 1px solid #a7a7a7;
    text-align: center;
    width: 33.33%;
    transition: background-color 0.3s;
  }
  
  .tab-title:hover {
    background-color: #ddd;
  }
  
  .tab-title.active {
    background-color: rgb(25, 25, 77);
    color: rgb(233, 233, 233);
    font-weight: bold;
  }
  
  .tab-content {
    padding: 5px 0px;
    border-top: 1px solid #ccc;
  }
  
  .tab-pane {
    display: none;
  }
  
  .tab-pane.active {
    display: block;
  }
  
  h2 {
    margin-top: 0;
  }

  .w-35 {
    width: 30% !important;
    border-right-color: #676b67 ;
  }

  .w-65 {
    width: 70% !important;
    font-size: 10px !important;
  }

  .w-50 {
    width: 50% !important;
    border-right-color: #676b67 ;
  }

  .w-50-a {
    width: 50% !important;
    font-size: 10px !important;
  }
  .cstm {
    padding: 5px 10px;
    font-size: 13px;
    min-height: 28px;
  }

  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 2px solid #0c093b;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #FF3D00;
    width: 38px;
    height: 38px;
    animation: rotationBack 1.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 28px;
    height: 28px;
    border-color: #055a0c;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
      
  .contenido-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .loader2 {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader2::after,
  .loader2::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 2px solid #1e732d;
    position: absolute;
    left: 0;
    top: 0;
    animation: scaleOut 2s ease-in-out infinite;
  }
  .loader2::after {
    border-color: #FF3D00;
    animation-delay: 1s;
  }
  
  @keyframes scaleOut {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  .span-over {
    font-size: 10px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  .select-abso {
    position: absolute !important;
    right: 0;
  }

  .dropdown-item:hover {
    background-color: #a3a4a5; 
    color: white; 
  }
  
  .selected {
    background-color: #162980 !important; 
    color: white !important; 
  }

  .btn.dropdown-toggle::before {
    content: none !important; 
  }
  .btn.dropdown-toggle::after {
    display: none !important; 
  }
  .list-group {
    flex-direction : unset !important;
    border-radius: unset !important;
  }

  .j-c {
    justify-items: center !important;
  }

  .br-0 {
    border-radius: 0px !important;
  }

  .h-50-15 {
    height: calc(50% - 41px)!important;
  }

  .h-25-15 {
    height: calc(25% - 15px)!important;
  }
  .h-65-15 {
    height: calc(75% - 15px)!important;
  }

  .cstm-badge {
    font-size: 10px !important;
    font-family: ui-monospace !important;
  }

  .centra-elemento {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .cst-btn-tb {
    padding: 0px 5px 0px 5px !important;
    border: 1px solid #585656 !important;
  }

  .modal-body {
    max-height: 400px; /* Ajusta según lo necesites */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
  }

  .ml-3 {
    position: relative !important;
    left: 3px !important;
  }

  .centrado {
    justify-items: center !important;
    align-content: center !important;
  }
  .centrado2 {
    justify-content: center !important;
    align-items: center !important;
  }

  .plantilla-generada {
    width: calc(100% - 35rem);
    height: 20rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fffefe;
    border-left:1px solid black;
  }

  .list-group-item {
    align-content: center !important;
  }

  .list-group-item.active{
    background-color: #595959; 
    border-color: #3f3e3e !important
  }

 .properties-body-card{
  height: calc(100vh - 25rem);
  overflow: auto; 
 }

 .f-s-9 {
  font-size: 9px !important;
 }

 .w-40 {
    width: 30%;
 }

 .w-55 {
  width: 55%;
}

 .w-10 {
  width: 10%;
 }

 .pointer {
  pointer-events: visible;
  cursor: pointer;
  align-content: center;
 }
 .highlight-plomo {
  background-color: #929292 !important;
 }

 .btn-group-vertical>.btn, .btn-group>.btn {
  font-size: 10px;

 }

 .pad-mult {
  padding: 0px 4px 0px 4px !important;
 }

 .btn-pop {
  font-size: 10px !important;
    padding: 4px !important;
    height: 23px !important;
 }

 .input-number-custom {
  width: 70px !important; /* Controla el ancho */
  height: 20px !important; /* Controla la altura */
}

.input-number-custom input {
  width: 100% !important; /* Asegura que el input se ajuste al contenedor */
  height: 100% !important; /* Asegura que el alto sea consistente */
  padding: 0; /* Opcional: Ajusta el relleno interno */
  font-size: 12px; /* Opcional: Ajusta el tamaño del texto */
}

.custom-overlay {
  padding: 5px !important; /* Ajusta el padding según sea necesario */
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.input-container input {
  width: 100%;
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-preview {
  width: 100%;
  height: 200px; /* Ajusta según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la imagen ajustada */
  border-radius: 5px;
}
  .custom-dialog-no-padding .p-dialog-header {
  padding: 0.5rem !important;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.72);
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3834db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.titulo-stilo {
  font-weight: 900 !important;
  font-style: oblique !important;
  color:#800029 !important;
}

.metrado-stilo {
  font-weight: 700 !important;
  font-style: normal !important;
}

.submetrado-stilo {
  font-weight: 400 !important;
}

.color-celda {
  background-color: #f1ebea !important;
  color: #121213 !important;
  font-weight: bolder !important;
}

.t-g-black table tbody  tr td {
  color: #121213 !important;
}

.contenedor-generado {
  height: calc(100% - 30px);
  margin-top: 4px;
}

.col-70 {
  width: 70px !important;
}

.mi-select {
  width: 39px !important;
  min-width: 39px !important;
  max-width: 39px !important;
}

.div-but {
  height: 15.19px ;
  width: 20.8px;
  border: 1px solid rgb(58, 59, 59);
  border-radius: 3px;
  cursor: pointer;
}
.cust-table.table {
  table-layout: fixed !important;
    width: 100% !important;
   
}
.cust-table.table  th {
  min-width: 50px !important;
  max-width: 200px !important;
  white-space: nowrap !important; /* Evita que el texto se divida en varias líneas */
}

.cust-table.table td {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.custom-descr {
  width: 200px;
  display: block;
}

.color-box {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  vertical-align: middle;
}

/* Caso especial para el gradiente */
.gradient-box {
  background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
}

.fixed-dropdown {
  width: 120px; /* Ajusta este valor según lo necesites */
  min-width: 120px;
  max-width: 120px;
  overflow: hidden; /* Evita que el contenido se expanda */
  white-space: nowrap; /* Mantiene el texto en una sola línea */
}

.btn-px-2 {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

.lb-check {
  margin-left: 5px !important;
  position: relative !important;
  bottom: 3px !important;
}

.slider-cust {
  margin-left: 10px !important;
    width: 75px !important;
    display: list-item !important;
}

.pos-r-t-0 {
  position: relative !important;
  top: 0 !important;
  left: -87px !important;
}

.chb-cst {
  position: relative !important; 
  bottom: 1px !important;
}

.left-140 {
  left: -140px !important;
}

.custom-label {
  position: absolute;
  top: -24px;
  left: 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bolder;
}

.mat-form-field-cst {
  position: relative;  /* Asegúrate de que el contenedor tenga posicionamiento relativo */
  top:15px;
}
.text-area-cst {
  min-height: 40px !important;
  max-height: 40px !important;
}

.prefix-text {
  /* position: absolute;
  top: 6px;  
  left: 12px;  */
  font-weight: bold;
  color: black; 
  /* z-index: 10; 
  background: white; 
  padding: 0 4px; */
}

.icon-error {
  position: relative;
  left: 6px;
}

.error-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.disabled {
  pointer-events: none; /* Bloquea clics */
  opacity: 0.5; /* Hace que parezca deshabilitado */
  cursor: not-allowed; /* Cambia el cursor */
}

.lista-unidades {
  list-style-type: none;
  padding: 0;
}

.item-unidad {
  padding: 1px 0;
  border-bottom: 1px solid #eee;
  font-size: 8px;
}

.key-unidad {
  color: #007bff; /* Color azul para las keys */
}

.value-unidad {
  color: #28a745; /* Color verde para los valores */
}
