<div id="container" style="height: 100vh; width: 100vw; background-color: #202932;"></div>

<div class="container-tabla" *ngIf="mostrarNavbar">
    <div class="col-12 d-flex px-3 py-1">
        <!-- Botón para cargar un archivo -->
        <button class="btn btn-mini2 bg-success" (click)="fileInput.click()">
            <i class="fa fa-upload"></i> Documento
        </button>

        <!-- Input tipo file oculto -->
        <input type="file" #fileInput style="display: none;" (change)="cargarDocumento($event)" />
        <ng-container *ngIf="selectedFile">
            <button class="btn btn-mini2 bg-secondary ms-5" title="Ver dimesiones" (click)="verBarrasDimensiones()"
                [class.active]="verDimensiones">
                <i class="fa fa-text-height"></i>
            </button>
            <button class="btn btn-mini2 bg-secondary ms-1" title="Ver volumenes" (click)="verVisualVolumenes()"
                [class.active]="verVolumen">
                <i class="fa fa-cube"></i>
            </button>
            <!-- <select class="select-abso"  [(ngModel)]="tipoTabla" (change)="cambioTabla()">
                <option value="0">Niveles</option>
                <option value="1">Agrupamientos</option>
              </select> -->
            <div class="btn-group dropstart select-abso">
                <button type="button" title="Tipo de tabla" class="btn btn-info dropdown-toggle btn-mini2 me-1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu">
                    <li (click)="tipoTabla = 0;cambioTabla()">
                        <a class="dropdown-item" [class.selected]="tipoTabla === 0">Niveles</a>
                    </li>
                    <li (click)="tipoTabla = 1;cambioTabla()">
                        <a class="dropdown-item" [class.selected]="tipoTabla === 1">Agrupamientos</a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
    <div class="col-12 header-nav w-100 d-flex color-h4 " *ngIf="selectedFile">
        <h4 style="font-size: 16px; margin-bottom: 0;font-size: 10px;"> DOCUMENTO : </h4>
        <span class="ms-1 span-over" style="font-size: 10px;">{{selectedFile.name}}</span>
    </div>
    <div class="col-12 h-tablas-container">
        <div class="col-12 b-containers h-50 contenido-centrado">
            <ng-container *ngIf=" selectedFile && !buscando && !buscando2 ">
                <div class="w-100 h-100 overflow-auto ">
                    <ng-container *ngIf="tipoTabla == 0">
                        <table class=" table-bordered w-100">
                            <thead class="head-sticky text-center">
                                <tr>
                                    <th colspan="4">
                                        NIVELES
                                    </th>
                                </tr>
                                <tr>

                                    <th class="propertiesPanel" [style.width.px]="40">VISIBLE</th>
                                    <th class="propertiesPanel" [style.width.px]="200">TIPO</th>
                                    <th class="propertiesPanel" [style.min-width.px]="250">ELEMENTO</th>
                                    <th [style.width.px]="40"></th>
                                    <!-- <th class="propertiesPanel" [style.width.px]="60">DESCRIPC.</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="dataIFC.length">
                                    <ng-container *ngFor="let row of dataIFC; let i = index; trackBy: trackByFn">
                                        <ng-container *ngIf="row.mostrar">
                                            <tr (click)="seleccionRow(row,i)" #fila tabindex="0">

                                                <td class="text-center"
                                                    [ngClass]="{'highlight-row': this.filaSel == row.ind }">
                                                    <input class="form-check-input" type="checkbox"
                                                        [checked]="row.visible" (change)="hiderRow(row, $event, i)">
                                                </td>
                                                <td class="text-center"
                                                    [ngClass]="{'highlight-row': this.filaSel == row.ind }">
                                                    <div class="d-flex align-content-center"
                                                        [ngStyle]="{'margin-left':  (row.nivel * 10)  + 'px'}">
                                                        <i class="fa fa-minus btn-cst align-content-center"
                                                            *ngIf="!row.active && row.nivel <= 4"
                                                            (click)="toggleRow(i, false)"></i>
                                                        <i class="fa fa-plus btn-cst align-content-center"
                                                            *ngIf="row.active && row.nivel <= 4"
                                                            (click)="toggleRow(i, true)"></i>
                                                        <span class="badge rounded-pill text-bg-secondary ms-1"
                                                            *ngIf="row.claseTraducida == 'Piso de Edificio'; else otro">{{row.claseTraducida}}</span>
                                                        <ng-template #otro>

                                                            <div class="ms-1 text-start"
                                                                [ngStyle]="{'text-decoration': row.nivel == 4 ? 'underline': ''}">
                                                                {{row.claseTraducida}}
                                                            </div>

                                                        </ng-template>
                                                    </div>

                                                </td>
                                                <td [ngClass]="{'highlight-row': this.filaSel == row.ind }">
                                                    {{row.informacion?.Name?.value}}</td>
                                                <td class="text-center"
                                                    [ngClass]="{'highlight-row': this.filaSel == row.ind }">
                                                    <div class="form-check form-switch" style="min-height: 0;">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="flexSwitchCheckChecked">
                                                        <label class="form-check-label"
                                                            for="flexSwitchCheckChecked"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </ng-container>
                    <ng-container *ngIf="tipoTabla == 1">
                        <table class=" table-bordered w-100">
                            <thead class="head-sticky text-center">
                                <tr>
                                    <th colspan="4">
                                        AGRUPAMIENTOS
                                    </th>
                                </tr>
                                <tr>

                                    <th class="propertiesPanel" [style.width.px]="40">
                                        <input class="form-check-input" type="checkbox"
                                         (change)="hiderRow2(null,$event,0)" checked>
                                    </th>
                                    <th class="propertiesPanel" [style.width.px]="200">TIPO</th>
                                    <th class="propertiesPanel" [style.min-width.px]="250">ELEMENTO</th>
                                    <th [style.width.px]="22"></th>
                                    <!-- <th class="propertiesPanel" [style.width.px]="60">DESCRIPC.</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="tablaGrupos.length">
                                    <ng-container *ngFor="let row of tablaGrupos; let i = index;">
                                        <ng-container *ngIf="row.mostrar">
                                            <tr (click)="seleccionRow2(row,i)" #fila tabindex="0">

                                                <td class="text-center"
                                                    [ngClass]="{'highlight-row': this.filaSel == row.ind }">
                                                    <input class="form-check-input" type="checkbox"
                                                        [checked]="row.visible" (change)="hiderRow2(row, $event, i)">
                                                </td>
                                                <td class="text-center"
                                                    [ngClass]="{'highlight-row': this.filaSel == row.ind }">
                                                    <div class="d-flex align-content-center"
                                                        [ngStyle]="{'margin-left':  (row.nivel == 4 ?  5 : 15)  + 'px'}">
                                                        <i class="fa fa-minus btn-cst align-content-center"
                                                            *ngIf="!row.active && row.nivel <= 4"
                                                            (click)="toggleRow2(i, false)"></i>
                                                        <i class="fa fa-plus btn-cst align-content-center"
                                                            *ngIf="row.active && row.nivel <= 4"
                                                            (click)="toggleRow2(i, true)"></i>
                                                        <span class="badge rounded-pill text-bg-secondary ms-1"
                                                            *ngIf="row.claseTraducida == 'Piso de Edificio'; else otro">{{row.claseTraducida}}</span>
                                                        <ng-template #otro>

                                                            <div class="ms-1 text-start"
                                                                [ngStyle]="{'text-decoration': row.nivel == 4 ? 'underline': ''}">
                                                                {{row.claseTraducida}}
                                                            </div>

                                                        </ng-template>
                                                    </div>

                                                </td>
                                                <td [ngClass]="{'highlight-row': this.filaSel == row.ind }">
                                                    {{row.informacion?.Name?.value}}</td>
                                                <td class="text-center"
                                                    [ngClass]="{'highlight-row': this.filaSel == row.ind }">
                                                    <div class="form-check form-switch" style="min-height: 0;">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="flexSwitchCheckChecked">
                                                        <label class="form-check-label"
                                                            for="flexSwitchCheckChecked"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </ng-container>
                </div>

            </ng-container>
            <ng-container *ngIf="buscando && !buscando2">
                <span class="loader"></span>
            </ng-container>
            <ng-container *ngIf="buscando2 && !buscando">
                <span class="loader2"></span>
            </ng-container>
        </div>
        <div class="col-12 b-containers h-50 " *ngIf="dataIFC.length && infoSeleccionado">
            <div class="tabs">
                <ul class="tab-titles">
                    <li class="tab-title" data-tab="tab-1" (click)="tab=0" [ngClass]="{'active': tab == 0}">PROPIEDADES
                    </li>
                    <li class="tab-title" data-tab="tab-2" (click)="tab=1" [ngClass]="{'active': tab == 1}">GEOMETRICOS
                    </li>
                    <li class="tab-title" data-tab="tab-3" (click)="tab=2" [ngClass]="{'active': tab == 2}">DIMENSIONES
                    </li>
                </ul>

                <div class="tab-content overflow-auto" *ngIf="tab == 0">

                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-35 fw-semibold cstm">Proyecto</li>
                        <li class="list-group-item w-65 cstm">{{guid}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.nivel > 3">
                        <li class="list-group-item w-35 fw-semibold cstm">Piso</li>
                        <li class="list-group-item w-65 cstm">{{nivel}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.informacion?.Tag">
                        <li class="list-group-item w-35 fw-semibold cstm">Ifc Entidad</li>
                        <li class="list-group-item w-65 cstm">{{infoSeleccionado?.clase}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.informacion?.Name">
                        <li class="list-group-item w-35 fw-semibold cstm">Nombre</li>
                        <li class="list-group-item w-65 cstm">{{infoSeleccionado?.informacion?.Name?.value}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.informacion?.ObjectType">
                        <li class="list-group-item w-35 fw-semibold cstm">Tipo Objeto</li>
                        <li class="list-group-item w-65 cstm">{{infoSeleccionado?.informacion?.ObjectType?.value}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.informacion?.Tag">
                        <li class="list-group-item w-35 fw-semibold cstm">Tag</li>
                        <li class="list-group-item w-65 cstm">{{infoSeleccionado?.informacion?.Tag?.value}}</li>
                    </ul>
                </div>
                <div class="tab-content overflow-auto" *ngIf="tab == 1">
                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-50 fw-semibold cstm">Bounding Box Length</li>
                        <li class="list-group-item w-50-a cstm">{{dataGeometrica?.boundingboxlength}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-50 fw-semibold cstm">Bounding Box Width</li>
                        <li class="list-group-item w-50-a cstm">{{dataGeometrica?.boundingboxwidth}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-50 fw-semibold cstm">Bounding Box Height</li>
                        <li class="list-group-item w-50-a cstm">{{dataGeometrica?.boundingboxheight}}</li>
                    </ul>
                </div>
                <div class="tab-content overflow-auto" *ngIf="tab == 2">
                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-50 fw-semibold cstm">Area Max</li>
                        <li class="list-group-item w-50-a cstm">{{dataGeometrica?.AreaMaxima}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-50 fw-semibold cstm">Thickness</li>
                        <li class="list-group-item w-50-a cstm">{{dataGeometrica?.Thickness}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-50 fw-semibold cstm">Area Total</li>
                        <li class="list-group-item w-50-a cstm">{{dataGeometrica?.AreaTotal}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-50 fw-semibold cstm">Volumen</li>
                        <li class="list-group-item w-50-a cstm">{{dataGeometrica?.volumen}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<button (click)="toggleNavbar()" [title]="mostrarNavbar ? 'Ocultar Datos': 'Mostrar Datos'" container="body"
    class="btn btn-primary btn-sm btn-custom-togle"
    [ngClass]="{'togle-btn-1': !mostrarNavbar, 'togle-btn-2': mostrarNavbar}">

    <i class="fas fa-arrow-left" aria-hidden="true" *ngIf="mostrarNavbar"></i>
    <i class="fas fa-arrow-right" aria-hidden="true" *ngIf="!mostrarNavbar"></i>
</button>