<div id="container" style="height: 100vh; width: 100vw; background-color: #202932;"></div>

<div class="container-tabla" *ngIf="mostrarNavbar">
    <div class="col-12 d-flex px-3 py-1">
        <!-- Botón para cargar un archivo -->
        <button class="btn btn-mini2 bg-info" (click)="fileInput.click()">
            <i class="fa fa-upload"></i> Documento
        </button>

        <!-- Input tipo file oculto -->
        <input type="file" #fileInput style="display: none;" (change)="cargarDocumento($event)" />

        <button class="btn btn-mini2 bg-secondary ms-5" title="Ver dimesiones" (click)="verBarrasDimensiones()"
            [class.active]="verDimensiones">
            <i class="fa fa-text-height"></i>
        </button>
        <button class="btn btn-mini2 bg-secondary ms-1" title="Ver volumenes" (click)="verVisualVolumenes()"
            [class.active]="verVolumen">
            <i class="fa fa-cube"></i>
        </button>
    </div>
    <div class="col-12 header-nav text-center">
        <h4 class="color-h4">Datos Documento</h4>
    </div>
    <div class="col-12 h-tablas-container">
        <div class="col-12 b-containers h-50 contenido-centrado">
            <ng-container *ngIf="dataIFC.length && !buscando ">
                <div class="w-100 h-100 overflow-auto ">
                    <table class=" table-bordered w-100" style="table-layout: fixed;">
                        <thead class="head-sticky text-center">
                            <tr>
                                <!-- <th></th> -->
                                <th class="propertiesPanel" [style.width.px]="40">ACTIVO</th>
                                <th class="propertiesPanel" [style.width.px]="200">TIPO</th>
                                <th class="propertiesPanel" [style.min-width.px]="250">ELEMENTO</th>
                                <!-- <th class="propertiesPanel" [style.width.px]="60">DESCRIPC.</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="dataIFC.length">
                                <ng-container *ngFor="let row of dataIFC; let i = index; trackBy: trackByFn">
                                    <ng-container *ngIf="row.mostrar">
                                        <tr (click)="seleccionRow(row,i)" #fila  tabindex="0">
                                            <!-- <td>{{i}} - {{row.mostrar}}</td> -->
                                            <td class="text-center" [ngClass]="{'highlight-row': this.filaSel == i }">
                                                <input class="form-check-input" type="checkbox" value="row.active">
                                            </td>
                                            <td class="text-center" [ngClass]="{'highlight-row': this.filaSel == i }">
                                                <div class="d-flex align-content-center"
                                                    [ngStyle]="{'margin-left':  (row.nivel * 10)  + 'px'}">
                                                    <!-- <button class="btn btn-secondary btn-mini ">  -->
                                                    <i class="fa fa-minus btn-cst align-content-center"
                                                        *ngIf="!row.active" (click)="toggleRow(i, false)"></i>
                                                    <i class="fa fa-plus btn-cst align-content-center"
                                                        *ngIf="row.active" (click)="toggleRow(i, true)"></i>
                                                    <!-- </button> -->
                                                    <span class="badge rounded-pill text-bg-secondary ms-1"
                                                        *ngIf="row.claseTraducida == 'Piso de Edificio'; else otro">{{row.claseTraducida}}</span>
                                                    <ng-template #otro>
                                                        <!-- <div *ngIf="row.nivel == null || row.nivel > 4 ; else mstrar">

                                                </div>
                                                <ng-template #mstrar> -->
                                                        <div class="ms-1"
                                                            [ngStyle]="{'text-decoration': row.nivel == 4 ? 'underline': ''}">
                                                            {{row.claseTraducida}}
                                                        </div>

                                                        <!-- </ng-template> -->

                                                    </ng-template>
                                                </div>

                                            </td>
                                            <td [ngClass]="{'highlight-row': this.filaSel == i }">
                                                {{row.informacion?.Name?.value}}</td>
                                            <!-- <td class="text-center" >-</td> -->
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>

            </ng-container>
            <ng-container *ngIf="buscando">
                <span class="loader"></span>
            </ng-container>
        </div>
        <div class="col-12 b-containers h-50 " *ngIf="dataIFC.length && infoSeleccionado">
            <div class="tabs">
                <ul class="tab-titles">
                    <li class="tab-title" data-tab="tab-1" (click)="tab=0" [ngClass]="{'active': tab == 0}">PROPIEDADES
                    </li>
                    <li class="tab-title" data-tab="tab-2" (click)="tab=1" [ngClass]="{'active': tab == 1}">LOCALIZACIÓN
                    </li>
                    <li class="tab-title" data-tab="tab-3" (click)="tab=2" [ngClass]="{'active': tab == 2}">Pestaña 3
                    </li>
                </ul>

                <div class="tab-content overflow-auto" *ngIf="tab == 0">

                    <ul class="list-group list-group-horizontal-sm">
                        <li class="list-group-item w-35 fw-semibold cstm">Proyecto</li>
                        <li class="list-group-item w-65 cstm">{{guid}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.nivel > 3">
                        <li class="list-group-item w-35 fw-semibold cstm">Piso</li>
                        <li class="list-group-item w-65 cstm">{{nivel}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.informacion?.Tag">
                        <li class="list-group-item w-35 fw-semibold cstm">Ifc Entidad</li>
                        <li class="list-group-item w-65 cstm">{{infoSeleccionado?.clase}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.informacion?.Name">
                        <li class="list-group-item w-35 fw-semibold cstm">Nombre</li>
                        <li class="list-group-item w-65 cstm">{{infoSeleccionado?.informacion?.Name?.value}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.informacion?.ObjectType">
                        <li class="list-group-item w-35 fw-semibold cstm">Tipo Objeto</li>
                        <li class="list-group-item w-65 cstm">{{infoSeleccionado?.informacion?.ObjectType?.value}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal-sm" *ngIf="infoSeleccionado?.informacion?.Tag">
                        <li class="list-group-item w-35 fw-semibold cstm">Tag</li>
                        <li class="list-group-item w-65 cstm">{{infoSeleccionado?.informacion?.Tag?.value}}</li>
                    </ul>
                </div>
                <div class="tab-content overflow-auto" *ngIf="tab == 1">
                </div>
                <div class="tab-content overflow-auto" *ngIf="tab == 2">
                </div>
            </div>

        </div>
    </div>

</div>
<button (click)="toggleNavbar()" [title]="mostrarNavbar ? 'Ocultar Datos': 'Mostrar Datos'" container="body"
    class="btn btn-primary btn-sm btn-custom-togle"
    [ngClass]="{'togle-btn-1': !mostrarNavbar, 'togle-btn-2': mostrarNavbar}">

    <i class="fas fa-arrow-left" aria-hidden="true" *ngIf="mostrarNavbar"></i>
    <i class="fas fa-arrow-right" aria-hidden="true" *ngIf="!mostrarNavbar"></i>
</button>