@import 'primeng/resources/themes/lara-light-indigo/theme.css';
@import 'primeng/resources/primeng.min.css';


/* You can add global styles to this file, and also import other style files */
bim-grid {
    position: fixed !important;
    top: 0 !important;
    max-inline-size: max-content !important;
}

/* .propertiesPanel, td{
    color: antiquewhite;
} */
table thead {
    font-size: 10px;
    background-color: #3f3c3c !important;
    color: aliceblue !important;
}

table tbody {
    font-size: 10px;
}
/* table thead tr th {
    border: 2px solid blanchedalmond !important;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table tbody tr td {
    border: 1px solid blanchedalmond !important;
} */

.notdata {
    text-align: center !important;
    color: coral !important;
}

.recortatextlinea {
  width: 100% ;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.btn-bim {
    width: 20px !important;
    height: 20px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    padding: 0 !important; /* Eliminar padding que pueda estar causando el desbordamiento */
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
  }
  
  .btn-bim label {
    font-size: 12px; /* Ajustar el tamaño de la fuente según sea necesario */
    margin: 0; /* Eliminar márgenes adicionales */
  }
  
  .icon-plus, .icon-minus {
    font-size: 16px; /* Ajusta el tamaño del icono a un tamaño apropiado */
    line-height: 1;
    margin: 0;
  }
  .btn-bim {
    pointer-events: all; /* Asegura que el botón reciba eventos de clic */
  }

  .toggle-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .toggle-btn:hover {
    color: darkblue;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }


.error-snack-bar {
  background-color: red !important;
  color: white !important;
}

.celeste-snack-bar {
  background-color: #1330af; /* Color celeste */
  color: white; /* Color del texto */
}


.info-snack-bar {
  background-color: rgb(8, 92, 172) !important;
  color: white !important;
}

.warning-snack-bar {
  background-color: rgb(215, 218, 44) !important;
  color: black !important;
}

.form-switch .form-check-input {
  border-color: #ababab !important;
}

::ng-deep .p-dialog .custom-dialog .highlight2 {
  background-color: #e7aa26 !important;
}

.pi {
  font-size: 0.7rem !important;
}

.p-button.p-button-icon-only {
  width: 1.5rem !important;
  padding: 0 !important;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 17px;
  height: 17px;
  color: #495057;
  border-radius: 6px;
  border-color: #a9a8a7;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-checkbox {
  height: 16px !important;
}

.tamaño-tr {
  height: 22px !important; /* o cualquier tamaño que necesites */
}

.p-datatable .p-datatable-thead > tr > th { 
  padding: 0rem 0.5rem !important;
  height: 22px !important;
  border: 1px solid rgb(240, 240, 240) !important;
  background-color: #3f3c3c !important;
  color: white !important;
}

.p-datatable .p-datatable-tbody > tr > td { 
  padding: 0rem 0rem !important;
  height: 22px !important;
  border: 1px solid #3f3c3c !important;

}

.p-inputnumber-input {
  width: 100% !important;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0.25rem !important
}

.custom-dialog-no-padding .p-dialog-header {
  padding: 0.5rem !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.6); /* Color del borde */
  opacity: 1 !important; /* Asegura que siempre sea visible */
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.6); /* Color del borde en estado deshabilitado */
}

.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.p-dialog .p-dialog-content {
  padding: 0 1.5rem 1rem 1.5rem !important;
}

.mat-form-field-prefix, .mat-form-field-suffix {
  align-self: center !important;
}

.p-inputtext {
  padding: 0px !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.15rem 0.25rem !important;
}

.list-group-item {
  padding: 0.15rem !important;
}